/*
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : ionic 5 groceryee app
  Created : 10-Sep-2020
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2020-present initappz.
*/
.coupones{
    display: flex;
    padding: 20px 10px;
    background: #f3f3f3;
    margin-top: 10px;
    .badge{
        width: 25px;
        height: 25px;
    }
    .title{
        padding: 0px 10px;
        color: var(--ion-color-primary);;
    }
}
.billing{
    padding: 5px 10px;
    .singleRow{
        display: flex;
        justify-content: space-between;
        padding: 10px 0px;
        border-bottom: 1px dashed lightgray;
        .headerTitle{
            font-size: 0.8rem;
        }
        .boldClass{
            font-weight: bold;
        }
        .headerTotal{
            font-size: 1rem;
        }
        .priceTotal{
            font-size: 1rem;
        }
        .price{
            font-size: 0.8rem;
        }
    }
}

.header{
    background: #f3f3f3;
    padding: 20px;
    margin-top: 20px;
    .title{
        font-size: 1rem;
        font-weight: bold;
    }
}