<!-- 
   Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : ionic 5 groceryee app
  Created : 10-Sep-2020
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2020-present initappz.
 -->
<div class="inner-content">
  <div class="div_content">
    <p class="title"> {{util.getString('Select Drivers')}} </p>
  </div>
  <div class="content">
    <p class="ion-text-center" *ngIf="!drivers?.length"> No Active Driver Found </p>
    <ion-list>
      <ion-radio-group [(ngModel)]="selectedDriver">
        <ion-list-header>
          <ion-label>Drivers</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let item of drivers" lines="none">
          <ion-avatar slot="start">
            <img [src]="api.mediaURL+ item.cover" onError="this.src='assets/imgs/icon.png'" />
          </ion-avatar>
          <ion-label>{{item.first_name}} {{item.last_name}} <br>
            <p>Gender :
              <span *ngIf="item.gender ==='1'"> {{util.getString('Male')}} </span>
              <span *ngIf="item.gender ==='0'"> {{util.getString('Female')}} </span>
              <span *ngIf="item.gender ==='2'"> {{util.getString('Other')}} </span>
            </p>
          </ion-label>
          <ion-radio [value]="item.id"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>
  <div class="div_btn">
    <ion-row>
      <ion-col size="6" class="cancel">
        <ion-button (click)="select()" color="primary" expand="full">
          {{util.getString('Select')}}
        </ion-button>
      </ion-col>
      <ion-col size="6" class="cancel">
        <ion-button (click)="close()" color="light" expand="full">
          {{util.getString('Cancle')}}
        </ion-button>
      </ion-col>
    </ion-row>


  </div>
</div>