
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{util.getString('Contact us')}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">

    <div class="main_div">

      <div class="info_div">

        <div class="name">
          <div class="image_div">
            <ion-icon name="person-outline"></ion-icon>
          </div>
          <div class="content_div">
            <ion-input type="text" [placeholder]="util.getString('Full name')" [(ngModel)]="contact.name">
            </ion-input>
          </div>
        </div>


        <div class="name">
          <div class="image_div">
            <ion-icon name="mail-outline"></ion-icon>
          </div>
          <div class="content_div">
            <ion-input type="text" [placeholder]="util.getString('Email')" [(ngModel)]="contact.email">
            </ion-input>
          </div>
        </div>

        <div class="name">
          <div class="content_div">
            <ion-textarea row="8" type="text" [placeholder]="util.getString('Message')" [(ngModel)]="contact.message">
            </ion-textarea>
          </div>
        </div>
        <ion-button (click)="submit()" expand="block" fill="clear" shape="round">
          {{util.getString('Submit')}}
        </ion-button>
      </div>
    </div>
  </div>
  <div class="flex_box" *ngIf="util.general && util.general.address">
    <ion-icon name="home-outline"></ion-icon>
    <label> {{util.general.address}}
    </label>
  </div>
  <div class="flex_box" *ngIf="util.general && util.general.address">
    <ion-icon name="home-outline"></ion-icon>
    <label> {{util.general.city}} - {{util.general.country}} - {{util.general.zip}}
    </label>
  </div>
  <div class="flex_box" *ngIf="util.general && util.general.address">
    <ion-icon name="mail-open-outline"></ion-icon>
    <label> {{util.general.email}} </label>
  </div>
  <div class="flex_box" *ngIf="util.general && util.general.address">
    <ion-icon name="call-outline"></ion-icon>
    <label> {{util.general.mobile}} </label>
  </div>
  <div class="flex_box" *ngIf="util.general && util.general.address">
    <ion-icon name="print-outline"></ion-icon>
    <label for=""> {{util.general.email}} </label>
  </div>
  <div #map id="map"></div>
</ion-content>