/*
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : ionic 5 groceryee app
  Created : 10-Sep-2020
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2020-present initappz.
*/
.card-header-right {
    z-index: 999;
}

.card.full-card {
  position: fixed;
  top: 56px;
  z-index: 99999;
  box-shadow: none;
  left: 0;
  border-radius: 0;
  border: 1px solid #ddd;
  width: 100vw;
  height: calc(100vh - 56px);
}
