
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{util.getString('Languages')}} </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p *ngIf="!dummy?.length && !langs?.length" class="ion-text-center"> {{util.getString('No Languages Found')}} </p>
  <ion-item *ngFor="let item of dummy">
    <ion-thumbnail slot="start">
      <ion-skeleton-text animated style="width: 100%;height: 100px;"></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </ion-label>
  </ion-item>
  <ion-list>
    <ion-radio-group [(ngModel)]="selected" (ionChange)="changed()">
      <ion-item *ngFor="let item of langs" class="list" lines="none">
        <ion-thumbnail slot="start" class="thums">
          <img [src]="api.mediaURL+ item.cover" alt="">
        </ion-thumbnail>
        <ion-label class="title">{{item.name}}</ion-label>
        <ion-radio [value]="item.file" slot="end" mode="md"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>