<!-- 
   Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : ionic 5 groceryee app
  Created : 10-Sep-2020
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2020-present initappz.
 -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{util.getString('Chats')}} </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onAdmin()">
        <ion-icon slot="start" name="happy"></ion-icon>
        {{util.getString('Support')}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item *ngFor="let item of dummy">
    <ion-avatar slot="start">
      <ion-skeleton-text></ion-skeleton-text>
    </ion-avatar>
    <ion-label>
      <h3>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
  <ion-item *ngFor="let item of users" (click)="onChat(item)" class="ion-activatable ripple-parent">
    <ion-avatar slot="start">
      <img [src]="api.mediaURL+item.cover" onError="this.src='assets/imgs/user.png'" />
    </ion-avatar>
    <ion-label>
      <h3> {{item.name}} </h3>
      <p> {{item.mobile}} </p>
    </ion-label>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-item>
</ion-content>