
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="t">{{util.getString('Profile')}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="edit_flag = !edit_flag" *ngIf="edit_flag">
        <ion-icon slot="icon-only" name="pencil"></ion-icon>
      </ion-button>
      <ion-button (click)="update()" *ngIf="!edit_flag">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">

    <div class="main_div">

      <div class="info_div">
        <div class="user_img"
          [ngStyle]="{'background-image':'url('+api.mediaURL+coverImage+'),url(assets/imgs/user.png)'}"
          (click)="updateProfile()">
        </div>

        <div class="name">
          <div class="content_div">
            <span>{{util.getString('Name')}} &nbsp; </span>
            <ion-input type="text" [disabled]="edit_flag" [placeholder]="util.getString('Store name')"
              [(ngModel)]="name">
            </ion-input>
          </div>
        </div>

        <div class="name">
          <div class="content_div">
            <span>{{util.getString('Mobile')}} &nbsp; </span>
            <ion-input type="text" [disabled]="edit_flag" [placeholder]="util.getString('Mobile')" [(ngModel)]="mobile">
            </ion-input>
          </div>
        </div>

        <div class="name">
          <div class="content_div">
            <span>{{util.getString('Address')}} &nbsp; </span>
            <ion-textarea type="text" [disabled]="edit_flag" [placeholder]="util.getString('Address')"
              [(ngModel)]="address"></ion-textarea>
          </div>
        </div>

        <div class="name">
          <div class="content_div">
            <span>{{util.getString('Description')}} &nbsp; </span>
            <ion-textarea type="text" [disabled]="edit_flag" [placeholder]="util.getString('Descriptions')"
              [(ngModel)]="descritions">
            </ion-textarea>
          </div>
        </div>

        <div class="name">
          <div class="content_div">
            <span>{{util.getString('Open')}} &nbsp; </span>
            <ion-datetime display-format="HH:mm:ss" [disabled]="edit_flag" [(ngModel)]="openTime"
              [placeholder]="util.getString('Open Time')"></ion-datetime>
          </div>
        </div>

        <div class="name">
          <div class="content_div">
            <span>{{util.getString('Close')}} &nbsp; </span>
            <ion-datetime display-format="HH:mm:ss" [disabled]="edit_flag" [(ngModel)]="closeTime"
              [placeholder]="util.getString('Close Time')"></ion-datetime>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>