/*
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : ionic 5 groceryee app
  Created : 10-Sep-2020
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2020-present initappz.
*/
ion-button{
    .img_search{
        width: 12px;
        margin-right:10px;
    }
}

.main_content_div {
    padding: 20px;

    .main_div{
        display: flex;
        flex-direction: column;
        height: 60vh;
        justify-content: space-between;
    }
    .user_img{
        height: 90px;
        width: 90px;
        border-radius: 50%;
        border: 3px solid var(--ion-color-primary);
        margin: auto;
        margin-bottom: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-width: 90px;
        position: relative;
    }
    .name{
        border-radius: 5px;
        box-shadow: 0px 0px 20px -3px rgba(30, 98, 255, 0.3);        
        display: flex;
        flex-direction: row;
        padding: 10px;
        justify-content: flex-start;
        position: relative;
        // height: 45px;
        margin-bottom: 20px;

        .image_div{
            width: 20px;
            position: relative;
        }
        .icn{
            max-width: 15px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        .content_div{
            position: relative;
            display: flex;
            flex-flow: row;
            margin-left: 15px;
            width: 100%;
            align-items: center;
            span{
                font-size: 11px;
                color: #8992AA;
                padding-top: 5px;
            }
            ion-input{
                font-size: 11px;
                color: #454D62;
            }
        }
    }

    .btn_div{
        display: block;
        width: 100%;
        text-align: center;
    }
    ion-button{
        --background: var(--ion-color-primary);
        --border-radius: 3px;
        --color: white;
        font-weight: bold;
        font-size: 12px;
        height: 40px;
        width: 150px;
        text-transform: capitalize;
        --background-activated: rgba(159, 201, 165, 0.5);
        --color-actived: white;
        .logout_icon{
            width: 12px;
        }
    }
   
}