<!-- 
   Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : ionic 5 groceryee app
  Created : 10-Sep-2020
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2020-present initappz.
 -->
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label> {{util.getString('Orders')}} </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label> {{util.getString('Account')}} </ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>