/*
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : ionic 5 groceryee app
  Created : 10-Sep-2020
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2020-present initappz.
*/
@import "../../../variables.scss";
label {
  display: block;
  margin: 0;
}

.copyright_div {
  border-top: 1px solid #ebebeb;
  padding-top: 10px;
  padding-bottom: 10px;
}
footer {
  background: #dee2e6;
  padding-top: 50px;

  h6 {
    color: #1c1c1c;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .simple_lbl {
    font-size: 14px;
    color: #1c1c1c;
    font-weight: 400;
    line-height: 36px;
  }

  .link_lbl {
    font-size: 16px;
    color: #1c1c1c;
    font-weight: 400;
    font-size: 14px;
    line-height: 36px;
  }

  .form_flex {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

    input {
      height: 50px;
      border: 0px;
      border-radius: 0px;
      width: 200px;
    }

    .btn {
      background: $theme-color;
      font-size: 12px;
      letter-spacing: 1px;
      color: white;
      font-weight: 700;
      margin: 0;
      border-radius: 0px;
      height: 50px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .share_flex {
    display: flex;
    .icn_box {
      background: white;
      border-radius: 50%;
      margin-right: 15px;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
      height: 40px;
      width: 40px;
      position: relative;
      color: gray;
      mdb-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .icn_box:hover {
      background-color: $theme-color;
      mdb-icon {
        color: white;
      }
    }
  }

  .payment_div {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    img {
      width: 40px;
      margin-left: 10px;
    }
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
  .center_lbl {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .payment_div {
    display: flex;
    align-items: center !important;
    justify-content: center !important;

    img {
      width: 40px;
      margin-left: 10px;
    }
  }
}
