<!-- 
   Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : ionic 5 groceryee app
  Created : 10-Sep-2020
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2020-present initappz.
 -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title> {{util.getString('Languages')}} </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openMenu()">
        <img class="menuIcon" src="assets/sidemenu/menu_light.png" alt="">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p *ngIf="!dummy?.length && !langs?.length" class="ion-text-center"> {{util.getString('No Languages Found')}} </p>
  <ion-item *ngFor="let item of dummy">
    <ion-thumbnail slot="start">
      <ion-skeleton-text animated style="width: 100%;height: 100px;"></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </ion-label>
  </ion-item>
  <ion-list>
    <ion-radio-group [(ngModel)]="selected" (ionChange)="changed()">
      <ion-item *ngFor="let item of langs" class="list" lines="none">
        <ion-thumbnail slot="start" class="thums">
          <img [src]="api.mediaURL+ item.cover" alt="">
        </ion-thumbnail>
        <ion-label class="title">{{item.name}}</ion-label>
        <ion-radio [value]="item.file" slot="end" mode="md"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>