<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="navCtrl.back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">

    <div class="upper_div">
      <div #map id="map" class="map"></div>
    </div>
    <div class="lower_div" *ngIf="who==='user' && userInfo && userInfo.cover">
      <div class="driver_detail_div">
        <div class="back_image"
          [ngStyle]="{'background-image':'url('+api.mediaURL+userInfo.cover+'),url(assets/bg.png)'}"></div>
        <div style="padding-left: 20px;" (click)="callUser()">
          <ion-label class="boy_name">{{userInfo.first_name +' '+ userInfo.last_name}}</ion-label>
          <ion-label class="boy_name">
            <ion-icon name="mail-outline"></ion-icon> {{userInfo.email}}
          </ion-label>
          <ion-label class="boy_name">
            <ion-icon name="call-outline"></ion-icon> {{userInfo.mobile}}
          </ion-label>
          <ion-label class="boy_name">
            <ion-icon name="location-outline"></ion-icon> {{userAddress}}
          </ion-label>

        </div>
      </div>
      <p class="order_detail"><span style="color: var(--ion-color-primary);">
          {{util.getString('Grand Total')}}
          <span>
            {{grandTotal}} {{util.currecny}}
          </span>
        </span>
      </p>
      <p class="order_detail">{{util.getString('Order Status')}}
        <span class="order_status">
          {{payMethod}}
        </span>
      </p>


    </div>

    <div class="lower_div" *ngIf="who === 'store' && storeInfo && storeInfo.cover">
      <div class="driver_detail_div">
        <div class="back_image"
          [ngStyle]="{'background-image':'url('+api.mediaURL+storeInfo.cover+'),url(assets/bg.png)'}"></div>
        <div style="padding-left: 20px;" (click)="callStore()">
          <ion-label class="boy_name">{{storeInfo.name}}</ion-label>
          <ion-label class="boy_name">
            <ion-icon name="location-outline"></ion-icon> {{storeInfo.address}}
          </ion-label>
          <ion-label class="boy_name">
            <ion-icon name="call-outline"></ion-icon> {{storeInfo.mobile}}
          </ion-label>
        </div>
      </div>
      <p class="order_detail"><span style="color: var(--ion-color-primary);">
          {{util.getString('Grand Total')}}
          <span>
            {{grandTotal}} {{util.currecny}}
          </span>
        </span>
      </p>
      <p class="order_detail">{{util.getString('Order Status')}}
        <span class="order_status">
          {{payMethod}}
        </span>
      </p>
    </div>
    <!-- <div class="classdata">
      
    </div> -->
  </div>
</ion-content>