<!--
   Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : ionic 5 groceryee app
  Created : 10-Sep-2020
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2020-present initappz.
 -->
<div class="container">
  <div class="centered">
    <h2 *ngIf="status ==='failure'"> {{util.translate('Transaction status is failure')}} </h2>
    <h2 *ngIf="status ==='success'"> {{util.translate('Your payment was successful done, thank you for purchase.')}}
    </h2>
  </div>
</div>
