
.slider_div{
      // padding: 15px 0px;
      ion-slide{
          img{
              width: 100%;
              height: 250px;
          }
          .back_image{
            width: 100%;
            height: 250px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            min-width: 100px;
            position: relative;
            .percent{
                position: absolute;
                height: 25px;
                width: 25px;
                background: red;
                right: 5px;
                top: 2px;
                line-height: 25px;
                border-radius: 50%;
                text-align: center;
                font-weight: bold;
                font-size: 10px;
                color:white;
            }
          }
      }
  }
.main_content_div{
    width: 100%;
    padding: 16px;
    padding-bottom: 80px;
    ion-label {
        display: block;
    }

    .top_lbl{
        font-size: 25px;
        font-family: muli-bold;
    }

   

    .detail_div{
        .pro_name{
            font-size: 20px;
            font-family: muli-bold;
            margin-bottom: 5px;
        }
        .itemsKind{
          font-size: 12px;;
          font-weight: 500;
        }

        .pro_detail{
            font-size: 14px;
            color: gray;
        }

         .variant{
            .selecter{
                font-size: 10px;
                padding: 2px;
                border: 1px solid lightgray;
                margin: 10px 0px;
                border-radius: 5px;
                display: flex !important;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                color: gray;
                position: relative;
                overflow: hidden;
            }
            ion-item {
            width: 100%;
            min-width: 100%;
            font-size: 10px !important;
            --padding-start: 0px;
            --padding-end: 0px;
            font-size: 10px !important;
            ion-label {
                font-size: 10px !important;
            }
            .select-icon{
                display: none !important;   
            }
            ion-select {
                width: 100%;
                min-width: 100%;
                font-size: 10px !important;
                border: 1px solid lightgray;
                border-radius: 5px;
                min-height: 20px;
                height: 20px;
                }
            }
        }

        .small_flex_div{
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            border-bottom: 1px solid lightgray;
            padding: 15px 0px;
  
            .left{
              display: flex;
              img{
                width: 15px;
                height: 15px;
              }
              ion-label {
                font-family: muli-bold;
                padding-left: 10px;          
              }
              .price_lbl{
                font-weight: 400;
                font-size: 15px;
                .original{
                    text-decoration: line-through;
                    font-size: 13px;
                }
                .sell{
                    font-weight: bold;
                }
                .dicount{
                    font-weight: bold;
                    font-size: 13px;
                }
              }
            }
           
            .addBtn{
              .ripple-parent {
                  position: relative;
                  overflow: hidden;
                  padding: 5px;
                  color: white;
                  background: #f27474;
                  border-radius: 5px;
              }
            }
            
            // add
          
            .abs_add{
                width: 100px;
                background: var(--ion-color-primary);
                height: 30px;
                border-radius: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: 3px;
                padding-right: 3px;
      
                ion-label {
                  color: white;
                  font-size: 14px;
                  font-family: muli-bold;
                }
      
                img{
                  color: #FF8E80;
                  width: 25px;
                }
            } 
        }
        .ratingItems{
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items:center;
          font-size: 12px;
          position: relative;
          overflow: hidden;
        }
        .storeName{
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items:center;
          font-size: 12px;
          position: relative;
          overflow: hidden;
          color: var(--ion-color-primary);
          font-weight: bold;
          margin: 10px 0px;
        }
    }

    .pro_desc_div{
        padding: 15px 0px;
        border-bottom: 1px solid lightgray;

        .head_lbl{
            color: gray;
            font-family: muli-bold;
            margin-bottom: 5px;
        }

        ion-chip{
            background: #f3f3f3;
            border: 2px solid lightgray;

            ion-label {
                font-family: muli-bold;
            }
        }

        .active{
            background: rgba(69,194,97,0.2);
            color: var(--ion-color-primary);
            border: 2px solid var(--ion-color-primary);
        }

        .light_lbl{
            font-size: 14px;
            color: gray;

            span{
                font-family: muli-bold;
            }
        }
    }

      .content_div{
          padding: 10px 0px;

          .head_lbl{
              font-family: muli-bold;
              margin-bottom: 8px;
          }
      
          .card_div{
            padding: 10px;
            display: flex;
            border-radius: 10px;
            box-shadow: 0px 3px 6px rgba(0,0,0,0.5);
            position: relative;
            margin-bottom: 16px;
      
            .image_div{
              height: 95px;
              width: 95px;
              min-width: 95px;
      
              img{
                max-width: 100%;
                max-height: 100%;
              }
            }
      
            .desc_div{
              .pro_name{
                font-size: 15px;
                font-family: muli-bold;
                margin-bottom: 5px;
              }
              .pro_detail{
                font-size: 13px;
                color: gray;
                margin-bottom: 5px;
              }
      
              .small_flex{
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
      
                .left{
                  display: flex;
                  img{
                    width: 15px;
                    height: 15px;
                  }
                  ion-label {
                    font-family: muli-bold;
                    font-size: 14px;
                    padding-left: 10px;          
                  }
                } 
              }
      
              .abs_add{
                width: 100px;
                background: var(--ion-color-primary);
                height: 30px;
                border-radius: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: 3px;
                padding-right: 3px;
      
                ion-label {
                  color: white;
                  font-size: 14px;
                  font-family: muli-bold;
                }
      
                img{
                  color: #FF8E80;
                  width: 25px;
                }
              }
      
            }
          }
      }
      .related{
        margin-top: 10px;
        .head_lbl{
              font-family: muli-bold;
              margin-bottom: 8px;
          }
           .back_image{
              width: 100%;
              height: 100px;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              min-width: 100px;
              position: relative;
              .percent{
                  position: absolute;
                  height: 25px;
                  width: 25px;
                  background: red;
                  left: 5px;
                  top: 2px;
                  line-height: 25px;
                  border-radius: 50%;
                  text-align: center;
                  font-weight: bold;
                  font-size: 10px;
                  color:white;
              }
              .notInStoke{
                  background: #8373735c;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  width: 80%;
                  transform: translate(-50%,-50%);
                  text-align: center;
                  height: 20px;
                  line-height: 20px;
                  .text{
                      border: 1px solid gray;
                      padding: 5px;
                      border-radius: 5px;
                      background: white;
                      color: gray;
                      font-size: 10px;
                  }
              }
              .kind{
                  height: 15px;
                  width: 15px;
                  position: absolute;
                  right: 5px;
                  top: 5px;
              }
          }
          .second_div{
                padding: 5px;
                position: relative;
                width: 100%;
                text-align: left;
                ion-label {
                    display: block !important;
                    padding-bottom: 2px;
                }
                .offer{
                    height: 15px;
                    width: 15px;
                    position: absolute;
                    right: 20px;
                    top: 0px;
                }
                .itemsKind{
                    font-weight: 400;
                    font-size: 11px;
                }
                .price_lbl{
                      font-weight: 400;
                      font-size: 12px;
                      .original{
                          text-decoration: line-through;
                          font-size: 13px;
                      }
                      .sell{
                          font-weight: bold;
                      }
                      .dicount{
                          font-weight: bold;
                          font-size: 13px;
                      }
                  }
                  .name_lbl{
                      font-weight: 700;
                      font-size: 15px;
                      text-transform: capitalize;
                  }
                  .desc{
                      font-size: 12px;
                  }
                  .stoke{
                      font-size: 10px;
                      .in{
                          color: green;
                      }
                      .out{
                          color: indianred;
                      }
                  }
                .btnBtm{
                    display: flex;
                    flex-direction: row-reverse;
                    .ripple-parent {
                          position: relative;
                          overflow: hidden;
                          padding: 5px;
                          color: white;
                          background: #00D5BB;
                          border-radius: 5px;
                      }
                }
                  ion-icon{
                      position: absolute;
                      right: 0;
                      top: 0;
                      font-size: 20px;
                      color: #29b507;
                      padding: 5px;
                      box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
                      border-radius: 50%;
                  }

                  ion-button{
                      position: absolute;
                      // right: 0;
                      bottom: 0;
                      width: 90px;
                      font-size: 12px;
                      color: #29b507;
                      --border-color: #73D25C;
                  }
          }
      }
}