/*
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : ionic 5 groceryee app
  Created : 10-Sep-2020
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2020-present initappz.
*/
.btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    .flagActive{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: 2px solid red;
        margin: 0px 10px;
    }
    .flagDeactive{
        height: 45px;
        width: 45px;
        margin: 0px 10px;
        opacity: .5;
    }
}   