/*
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : ionic 5 groceryee app
  Created : 10-Sep-2020
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2020-present initappz.
*/
.card{
    width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;

    .back_image{
        height: 120px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        // border-radius: 5px;
        position: relative;
        
        .overlay_div{
            background: rgba(0,0,0,0.5);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 70%;
            right: 0;
            padding: 10px;

            ion-label {
                color: white;
                text-align: right;
                font-size: 14px;
                font-family: muli-bold;
            }
        }
    }
}