/*
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : ionic 5 groceryee app
  Created : 10-Sep-2020
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2020-present initappz.
*/
.segment_div{
    display: flex;
    margin-top: 20px;
    border-bottom: 1px solid lightgray;
    justify-content: space-around;
    ion-label {
        color: gray;
        padding-bottom: 10px;
        width: 100%;
        text-align: center;
    }
    .active{
        border-bottom: 1px solid var(--ion-color-primary);;
    }
}
.main_content_div{
    width: 100%;
    padding: 16px;
    padding-bottom: 70px;

    ion-label {
        display: block;
    }

    .top_lbl{
        font-size: 25px;
        font-family: muli-bold;
        margin-bottom: 10px;
    }

    .content_div{
        padding: 10px 0px;

        .card_div{
            padding: 10px;
            display: flex;
            border-radius: 10px;
            box-shadow: 0px 3px 6px rgba(0,0,0,0.5);
            position: relative;
            margin-bottom: 16px;
    
            .image_div{
                height: 95px;
                width: 95px;
                min-width: 95px;
        
                img{
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            .status{
                position: absolute;
                right: 0;
                bottom: 0px;
                padding: 5px;
                background: var(--ion-color-primary);;
                border-bottom-right-radius: 5px;
                color: white;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: bold;
            }
    
            .desc_div{
                width: 100%;
                .border_bottom{
                    padding-bottom: 10px;
                    width: 100%;
                    .items{
                        margin: 0px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        font-size: 12px;
                        font-weight: bold;
                        padding-bottom: 5px;
                        border-bottom: .5px dashed lightgray;
                        margin-bottom: 5px;
                    }
                    .itemss{
                        margin: 0px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        font-size: 12px;
                        font-weight: bold;
                        margin-bottom: 5px;
                    }
                }
                
                .datetime{
                    font-size: 12px;
                    font-weight: bold;
                }
               
                
            }
        }
    }
}