/*
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : ionic 5 groceryee app
  Created : 10-Sep-2020
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2020-present initappz.
*/
.div_map {
  height: 50vh;
  width: 100%;
  border: 1px solid gray;
}
.informations {
  padding: 10px;
  .title {
    font-weight: bold;
    padding: 10px;
    margin: 10px;
  }
}
