
.ion-title {
   text-align: left !important;
}
.searchbar{
    padding: 0px 10px;
}
.flx{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main_content_div{
    width: 100%;
    padding: 16px;
    padding-bottom: 70px;

    .ion-label {
        display: block;
    }

    .cateLbl{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .all {
            font-weight: bold;
            font-family: muli-bold;
        }
        .view{
            font-family: muli-bold;
            color: var(--ion-color-primary);
            font-size: 13px;
            display: flex;
            align-items: center;

            .ion-icon{
              font-size: 16px;
            }
        }    
    }

    .sliders{    
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        padding: 16px 0px;

        .categoryIcon{
            padding: 0px 5px;
            text-align: center;

            .imgs{
                border-radius: 11px;
                padding: 5px;
                line-height: 60px;
                height: 60px;
                width: 60px;
                box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
                position: relative;
            }
            .icon{
                // height: 25px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 35px;
            }

            .name{
                font-size: 14px;
                font-weight: 400;
                color: gray;
                margin: 10px 0px;
            }
        }
    }

    .slider_div{
        margin-top: 15px;

        .card{
            width: 100%;
            margin-right: 10px;
            margin-bottom: 10px;

            .back_image{
                height: 120px;
                width: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                // border-radius: 5px;
                position: relative;
                
                .overlay_div{
                    background: rgba(0,0,0,0.5);
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 70%;
                    right: 0;
                    padding: 10px;

                    .ion-label {
                        color: white;
                        text-align: right;
                        font-size: 14px;
                        font-family: muli-bold;
                    }
                }
            }
        }
    }

    .content_div{
        padding: 10px 0px;
        width: 100%;
        .card_div{
            
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.1);
            position: relative;
            margin-bottom: 16px;
            border: 1px light lightgray;
            margin-right: 10px;
            border-radius: 11px;
            .offer_tag{
                width: 35px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 99;
            }

            .off_lbl{
                font-family: muli-bold;
                position: absolute;
                width: min-content;
                font-size: 9px;
                top: 4px;
                left: 8px;
                text-align: center;
                color: white;
                z-index: 999;
            }

            .image_div{
                height: 80px;
                width: 80px;
                min-width: 80px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                margin: 5px;
                .kind{
                  height: 15px;
                  width: 15px;
                  position: absolute;
                  right: 5px;
                  top: 5px;
                }
                .isOpen{
                  height: 30px;
                  width: 30px;
                  position: absolute;
                  right: 5px;
                  top: 5px;
                }
                img{
                  max-width: 100%;
                  max-height: 100%;
                }
            }

            .desc_div{
                text-align: right;
                padding: 10px;
                font-size: 10px !important;
                .variant{
                    .selecter{
                        font-size: 10px;
                        padding: 2px;
                        border: 1px solid lightgray;
                        margin: 10px 0px;
                        border-radius: 5px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        color: gray;
                        position: relative;
                        overflow: hidden;
                    }
                    .ion-item {
                    width: 100%;
                    min-width: 100%;
                    font-size: 10px !important;
                    --padding-start: 0px;
                    --padding-end: 0px;
                    font-size: 10px !important;
                    .ion-label {
                        font-size: 10px !important;
                    }
                    .ion-select {
                        --padding-end: 0px;
                        --padding-start: 0px;
                        width: 100%;
                        min-width: 100%;
                        font-size: 10px !important;
                        }
                    }
                }
                .pro_name{
                  font-size: 14px;
                  font-family: muli-bold;
                  margin-bottom: 5px;
                  font-weight: 400;
                }
                .pro_detail{
                  font-size: 11px;
                  color: gray;
                  margin-bottom: 5px;
                }
                .price_lbl{
                    font-weight: 400;
                    font-size: 11px;
                    .original{
                        text-decoration: line-through;
                        font-size: 11px;
                    }
                    .sell{
                        font-weight: bold;
                    }
                    .dicount{
                        font-weight: bold;
                        font-size: 11px;
                    }
                }
                .small_flex{
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    .btnBtm{
                        display: flex;
                        flex-direction: row-reverse;
                        font-size: 12px;
                        .ripple-parent {
                            position: relative;
                            overflow: hidden;
                            padding: 5px;
                            color: white;
                            background: #00D5BB;
                            border-radius: 5px;
                        }
                    }
                    // .left{
                    //     display: flex;
                    //     img{
                    //         width: 15px;
                    //         height: 15px;
                    //     }
                    //     ion-label {
                    //         font-family: muli-bold;
                    //         font-size: 14px;
                    //         padding-left: 10px;          
                    //     }
                    // } 
                }

              .abs_add{
                  width: 100px;
                  background: var(--ion-color-primary);
                  height: 30px;
                  border-radius: 15px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  padding-left: 3px;
                  padding-right: 3px;

                  .ion-label {
                      color: white;
                      font-size: 14px;
                      font-family: muli-bold;
                  }

                  img{
                      color: #00D5BB;
                      width: 25px;
                  }
                }
            }
        }
    }
    
    .listView{
        margin: 10px 0px;
        .box{
            // border: 1px solid lightgray;
            width: 100%;
            .image_div{
                border-radius: 11px;
                height: 80px;
                width: 95%;
                min-width: 90%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                margin: 5px;
                .kind{
                  height: 15px;
                  width: 15px;
                  position: absolute;
                  right: 5px;
                  top: 5px;
                }
                 .percent{
                    position: absolute;
                    height: 30px;
                    width: 30px;
                    background: #f27474;
                    left: 5px;
                    top: 2px;
                    line-height: 30px;
                    border-radius: 50%;
                    text-align: center;
                    font-weight: bold;
                    font-size: 10px;
                    color:white;
                }
                .notInStoke{
                    background: #8373735c;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 90%;
                    transform: translate(-50%,-50%);
                    text-align: center;
                    // height: 50px;
                    // line-height: 50px;
                    .text{
                        border: 1px solid gray;
                        padding: 5px;
                        border-radius: 5px;
                        background: white;
                        color: gray;
                        font-size: 10px;
                    }
                }
            }
            .details{
                padding: 5px 10px;
                text-align: left;
                .variant{
                    .selecter{
                        font-size: 10px;
                        padding: 2px;
                        border: 1px solid lightgray;
                        margin: 10px 0px;
                        border-radius: 5px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        color: gray;
                        position: relative;
                        overflow: hidden;
                    }
                    ion-item {
                    width: 100%;
                    min-width: 100%;
                    font-size: 10px !important;
                    --padding-start: 0px;
                    --padding-end: 0px;
                    font-size: 10px !important;
                    .ion-label {
                        font-size: 10px !important;
                    }
                    .select-icon{
                        display: none !important;   
                    }
                    .ion-select {
                        width: 100%;
                        min-width: 100%;
                        font-size: 10px !important;
                        border: 1px solid lightgray;
                        border-radius: 5px;
                        min-height: 20px;
                        height: 20px;
                        }
                    }
                }
                .pro_name{
                    font-size: 12px;
                    color: gray;
                }
                .itemsKind{
                    font-weight: 400;
                    font-size: 11px;
                }
                .price_lbl{
                    font-weight: 800;
                    font-size: 14px;
                    .original{
                        text-decoration: line-through;
                        font-size: 11px;
                    }
                    .sell{
                        font-weight: bold;
                    }
                    .dicount{
                        font-weight: bold;
                        font-size: 11px;
                    }
                }
                 .small_flex{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 10px;
                    .btnBtm{
                        display: flex;
                        flex-direction: row-reverse;
                        font-size: 15px;
                        .ripple-parent {
                            position: relative;
                            overflow: hidden;
                            padding: 5px;
                            color: white;
                            background: #00D5BB;
                            border-radius: 11px;
                        }
                    }
                }

                 .abs_add{
                    width: 100px;
                    background: var(--ion-color-primary);
                    height: 30px;
                    border-radius: 15px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-left: 3px;
                    padding-right: 3px;

                    .ion-label {
                        color: white;
                        font-size: 14px;
                        font-family: muli-bold;
                    }

                    img{
                        color: #00D5BB;
                        width: 25px;
                    }
                }
            }
        }
    }
    .catess{
        .cateName{
            text-align: center;
            font-weight: bold;
            font-size: 13px;
            // background: #d0e3e3;
            padding: 5px;
            margin: 0px;
            margin-top: 10px;
            text-align: left;
        }
        .bgColor{
            // background: ivory;
            // border: 0.5px solid lightgray;
            .bg_img{
                height: 80px;
                width: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 11px;
                position: relative;
                padding: 5px;
                box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
            }
            .subCateName{
                font-size: 14px;
                font-weight: 600;
                text-align: center;
            }
        }
        
    }
}

.nothing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    .imgs{
        height: 100px;
        width: 100px;
    }
    .bolder{
        font-weight: bold;
    }
}