<!--
   Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : ionic 5 groceryee app
  Created : 10-Sep-2020
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2020-present initappz.
 -->
<div class="container">
  <div *ngIf="!loaded">
    <ngx-skeleton-loader *ngFor="let item of [1,2,3,4,5,6,7,8,9]"
      [theme]="{ 'border-radius': '5px', height: '10px',width:'100%'}"></ngx-skeleton-loader>
  </div>
  <p [innerHTML]="getContent()" *ngIf="loaded"></p>
</div>
