/*
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : ionic 5 groceryee app
  Created : 10-Sep-2020
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2020-present initappz.
*/
$midnight: #45C261;
$clouds: #ecf0f1;
// General

.back_image{
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    margin-top: 30px;
}

label{
    display: block;
    margin: 0;
}

h1 {
    margin: 0;
    line-height: 2;
    text-align: center;
}
h2 {
    margin: 0 0 .5em;
    font-weight: normal;
}

input[type="radio"]{
    position: absolute;
    opacity: 0;
    z-index: -1;
}
// Layout
.row {
    display:flex;
    .col {
            flex:1;

            &:last-child {
                margin-left: 1em;
        }
    }
}
/* Accordion styles */
.tabs {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
}
.tab {
    width: 100%;
    color: white;
    overflow: hidden;

    &-label {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        background: $midnight;
        font-weight: 500;
        cursor: pointer;
        /* Icon */

        &:hover {
            background: darken($midnight, 5%);
        }

        &::after {
            content: "\276F";
            width: 1em;
            height: 1em;
            text-align: center;
            transition: all .35s;
        }
    }

    &-content {
        max-height: 0;
        padding: 0 1em;
        color: $midnight;
        background: white;
        transition: all .35s;
    }
    &-close {
            display: flex;
            justify-content: flex-end;
            padding: 1em;
            font-size: 0.75em;
            background: $midnight;
            cursor: pointer;
            &:hover {
            background: darken($midnight, 10%);
        }
    }
}

// :checked
input:checked {
    + .tab-label {
            background: darken($midnight, 10%);

            &::after {
                transform: rotate(90deg);
            }
    }
    ~ .tab-content {
        max-height: 100vh;
        padding: 1em;
    }
}


.answer_lbl{
    font-weight: 400;
    color: black;
    line-height: 26px;
    font-size: 15px;
}
