<!-- 
   Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : ionic 5 groceryee app
  Created : 10-Sep-2020
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2020-present initappz.
 -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="t"> {{util.getString('Profile')}} </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="edit_flag = !edit_flag" *ngIf="edit_flag">
        <ion-icon slot="icon-only" name="pencil"></ion-icon>
      </ion-button>
      <ion-button (click)="update()" *ngIf="!edit_flag">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">

    <div class="main_div">

      <div class="info_div">
        <div class="user_img" [ngStyle]="{'background-image':'url('+api.mediaURL+cover+'),url(assets/imgs/user.png)'}"
          (click)="updateProfile()">
        </div>

        <div class="name">
          <div class="image_div">
            <ion-icon name="person-outline"></ion-icon>
          </div>
          <div class="content_div">
            <span>{{util.getString('First name')}} &nbsp;- </span>
            <ion-input type="text" [disabled]="edit_flag" [placeholder]="util.getString('First name')"
              [(ngModel)]="fname">
            </ion-input>
          </div>
        </div>

        <div class="name">
          <div class="image_div">
            <ion-icon name="person-outline"></ion-icon>
          </div>
          <div class="content_div">
            <span>{{util.getString('Last name')}} &nbsp;- </span>
            <ion-input type="text" [disabled]="edit_flag" [placeholder]="util.getString('Last name')"
              [(ngModel)]="lname">
            </ion-input>
          </div>
        </div>

        <div class="name">
          <div class="image_div">
            <ion-icon name="mail-outline"></ion-icon>
          </div>
          <div class="content_div">
            <span>{{util.getString('Email')}} &nbsp;- </span>
            <ion-input type="text" [disabled]="true" [placeholder]="util.getString('Email')" [(ngModel)]="email">
            </ion-input>
          </div>
        </div>

        <div class="name">
          <div class="image_div">
            <ion-icon name="call-outline"></ion-icon>
          </div>
          <div class="content_div">
            <span>{{util.getString('Mobile')}} &nbsp;- </span>
            <ion-input type="text" [disabled]="edit_flag" [placeholder]="util.getString('Mobile')" [(ngModel)]="mobile">
            </ion-input>
          </div>
        </div>
        <ion-item>
          <ion-label>{{util.getString('Available')}} </ion-label>
          <ion-toggle slot="end" [disabled]="edit_flag" [(ngModel)]="current"></ion-toggle>
        </ion-item>
      </div>
    </div>
  </div>
</ion-content>